<style>
    .bottombar {
        background-color: #ffbf47;
        background-image: linear-gradient(315deg, #ffbf47 0%, #19b5fe 74%);
    }
</style>

<footer class="flex flex-wrap bg-white px-2 sm:px-6 lg:px-16">
    <div class="flex flex-wrap items-start max-w-8xl xl:justify-evenly mx-auto">
        <ul class="flex flex-wrap p-6 text-sm mx-auto">
            {% for item in menus.footerMenu %}
                <a href="{{ item.url }}">
                    <li class="pb-3 footer_top-title {% if loop.last !== true %}mr-8{% endif %}">{{ item.title }}</li>
                </a>
                {% if item.children.length %}
                    {% for item1 in item.children %}
                        <a href="{{ item1.url }}">
                            <li class="footer_child-title">{{ item1.title }}</li>
                        </a>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
        <div class="w-full mx-auto px-2 sm:px-6 lg:px-16">
            <div class="w-full pb-8">
              <p class="font-prox text-2xs text-center">&copy; <span id="copyright-date"></span> {{ siteData.siteName }}, All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>

<div class='flex w-full h-1 z-10 bottombar'>
        
</div>