<style>
    .cog-label {
        font-size: 20px;
        padding: 0 0 12px 0;
    }
    .cog-input {
        border: 1px solid #004790;
        font-weight: 700;
        padding: 8px 15px 8px 15px;
        border-radius: 6px;
        text-transform: uppercase;
    }
    .el-textarea {
        min-height: 200px;
    }
</style>

<div class="pt-16 pb-12 hero-box">
    <h1 class="max-w-7xl font-new text-2xl sm:text-4xl xl:text-5xl xxl:text-6xl text-center leading-tight uppercase mx-auto px-4">{{ wpage.pageTitle | safe }}</h1>
</div>

<div class="max-w-3xl mx-auto py-10 px-6">
    <script src="https://www.cognitoforms.com/f/seamless.js" data-key="soTZv_QtCkGHiCIJGffUrQ" data-form="3"></script>
</div>

<img src="{{ wpage.pageImage.url }}" class="mx-auto pb-12" />