
<div class="pt-16 pb-12 hero-box">
    <h1 class="max-w-7xl font-new text-2xl sm:text-4xl xl:text-5xl xxl:text-6xl text-center leading-tight uppercase mx-auto px-4">{{ wpage.title | safe }}</h1>
    <div class="flex flex-wrap w-full max-w-5xl text-left mx-auto pt-6">
        {% for item in taxonomies.portfolioTypes %}
            <div class="flex mx-auto py-3 px-8">
                <input id="{{ item.id }}" class="hidden cursor-pointer type-checkbox" type="checkbox" /><label id="label-{{ item.id }}" for="{{ item.id }}" class="text-xl font-bold cursor-pointer select-none filter-label" >{{ item.name }}</label>
            </div>
        {% endfor %}
    </div>
</div>

<div class="relative flex flex-wrap w-full bg-white mt-8 pb-12" x-data="{ filtersOpen: false }">
    <div id="no-match-filter" class="hidden w-full pt-20 pb-80 no-match-filter">
        <h6 class="font-new text-2xl md:text-5xl font-bold uppercase text-center leading-tight px-8">No results - try a different combination!</h6>
    </div>
    <!-- <div class="absolute top-0 w-full -mt-16 portfolio-filters">
        <button id="filter-button" class="relative z-30 filter-button" x-on:click="filtersOpen = ! filtersOpen">
            <i class="mr-2 fas fa-filter"></i>Filters
        </button>
        <div class="absolute bg-white py-6 mt-2 mx-4 z-30 filter-dropdown" x-show="filtersOpen" @click.outside="filtersOpen = false" x-transition x-cloak>
            <div class="">
                <div class="flex flex-wrap px-4">
                    {% for item in taxonomies.portfolioTypes %}
                        <div class="flex items-center px-3">
                            <input id="{{ item.id }}" class="mr-1 cursor-pointer type-checkbox" type="checkbox" /><label for="{{ item.id }}" class="cursor-pointer select-none" >{{ item.name }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div> -->

    {% for item in portfolio %}
        {% if item.projectStatus == "Active Investment" %}
            <style>
                .portfolio-item-{{ item.id }} {
                    {% if item.featImg %}
                    background-image: url('{{ item.featImg }}');
                    background-size: cover;
                    {% else %}
                    background-color: #ffffff;
                    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2319b5fe' fill-opacity='0.3' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
                    {% endif %}
                }
            </style>
                <a href="/portfolio-item/{{ item.slug }}" class="relative w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 bg-cover mx-auto p-2 portfolio-item inner-search-type-box-container">
                    <div class="p-3 {% if item.projectStatus == "Active Investment" %}active-investments-border {% elseif item.projectStatus == "Exited Project" %}exited-projects-border {% endif %}portfolio-item-border">
                        <div class="w-full h-72 font-new font-bold bg-center mb-4 portfolio-item-{{ item.id }}">{% if item.featImg %}{% else %}Photos coming soon{% endif %}</div>
                        <h3 class="relative font-new text-2xl xxl:text-3xl uppercase leading-tight z-20">{{ item.title }}</h3>
                        <div class="pb-4 project-filters inner-search-type-box-for-filters">
                            {% for item1 in item.types %}
                                {% if loop.last !== true %}{{ item1.name }},{% else %}{{ item1.name }}{% endif %}
                            {% endfor %}
                        </div>
                        <h6 class="relative text-sm italic leading-tight pb-2 z-20">{% if item.addressInfo.city %}{{ item.addressInfo.city }}{% endif %}{% if item.addressInfo.state %}, {{ item.addressInfo.state }}{% endif %}</h6>
                        <h6 class="font-new font-bold text-xs uppercase tracking-wider">Active Investment</h6>
                    </div>
                    <img class="absolute bottom-0 right-0 w-24 m-6" src="https://nfpartners.greenzero.dev/wp-content/uploads/2020/11/logo.png" />
                </a>
        {% endif %}
    {% endfor %}

    <div class="w-full py-12"></div>
    {% for item in portfolio %}
        {% if item.projectStatus == "Exited Project" %}
            <style>
                .portfolio-item-{{ item.id }} {
                    {% if item.featImg %}
                    background-image: url('{{ item.featImg }}');
                    background-size: cover;
                    {% else %}
                    background-color: #ffffff;
                    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2319b5fe' fill-opacity='0.3' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
                    {% endif %}
                }
            </style>
            <a href="/portfolio-item/{{ item.slug }}" class="relative w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 bg-cover mx-auto p-2 portfolio-item inner-search-type-box-container">
                <div class="p-3 {% if item.projectStatus == "Active Investment" %}active-investments-border {% elseif item.projectStatus == "Exited Project" %}exited-projects-border {% endif %}portfolio-item-border">
                    <div class="w-full h-72 bg-center mb-4 portfolio-item-{{ item.id }}">{% if item.featImg %}{% else %}Photos coming soon{% endif %}</div>
                    <h3 class="relative font-new text-2xl xxl:text-3xl uppercase leading-tight z-20">{{ item.title }}</h3>
                    <div class="pb-4 project-filters inner-search-type-box-for-filters">
                        {% for item1 in item.types %}
                            {% if loop.last !== true %}{{ item1.name }},{% else %}{{ item1.name }}{% endif %}
                        {% endfor %}
                    </div>
                    <h6 class="relative text-sm italic leading-tight pb-2 z-20">{% if item.addressInfo.city %}{{ item.addressInfo.city }}{% endif %}{% if item.addressInfo.state %}, {{ item.addressInfo.state }}{% endif %}</h6>
                    <h6 class="font-new font-bold text-xs uppercase tracking-wider">Exited Project</h6>
                </div>
                <img class="absolute bottom-0 right-0 w-24 m-6" src="https://nfpartners.greenzero.dev/wp-content/uploads/2020/11/logo.png" />
            </a>
        {% endif %}
    {% endfor %}
</div>

<script>
var filterValues = [];
const typeBoxes = document.querySelectorAll('.inner-search-type-box-container');
const noMatchFilterMessage = document.getElementById('no-match-filter');
const filterLabels = document.querySelectorAll('.filter-label');
{% for item in taxonomies.portfolioTypes %}
    for (let i2 = 0; i2 < typeBoxes.length; i2++) {
        var boxFilterValues = typeBoxes[i2].querySelector('.inner-search-type-box-for-filters').innerText;
        if (boxFilterValues.includes('Active Investments')) {
            typeBoxes[i2].querySelector('.portfolio-item-border').classList.add('active-investments-border');
        } else if (boxFilterValues.includes('Exited Projects')) {
            typeBoxes[i2].querySelector('.portfolio-item-border').classList.add('exited-projects-border');
        }
    }
    var typeCheckbox{{ item.id }} = document.getElementById('{{ item.id }}');
    var typeLabel{{ item.id }} = document.getElementById('label-{{ item.id }}');
    typeCheckbox{{ item.id }}.addEventListener("click", function(e) {

        // empty the initial array so that only one filter option is available at a time CLIENT REQUEST, delete this if using anywhere else
        var filterValues = [];

        // turn off the filter label active class so that one filter option is available at a time CLIENT REQUEST, delete this if using anywhere else
        for (let i = 0; i < filterLabels.length; i++) {
            filterLabels[i].classList.remove('filter-highlighted');
        }

        typeLabel{{ item.id }}.classList.add('filter-highlighted');

        // initialize the no match filter, this will be toggled off later if there are any typeBoxes displayed
        var noMatchFilterCheck = true;

        // check if the checkbox is checked. If it is, remove the type from the filterValues array. If it isn't, add type to the filterValues array.
        if (typeCheckbox{{ item.id }}.checked !== false) {
            filterValues.push("{{ item.name }}");
            // typeLabel{{ item.id }}.classList.add('filter-highlighted');
        } else {
            filterValues.splice(filterValues.indexOf('{{ item.name }}'), 1);
            // typeLabel{{ item.id }}.classList.remove('filter-highlighted');
        }

        // check if the filterValues array is empty. If it is, turn on all the boxes. If it isn't, turn off all the boxes to prepare for filtering
        if (filterValues.length === 0) {
            for (let i2 = 0; i2 < typeBoxes.length; i2++) {
                typeBoxes[i2].style.cssText = "display: block"
            }
        } else {
            for (let i2 = 0; i2 < typeBoxes.length; i2++) {
                typeBoxes[i2].style.cssText = "display: none"
            }
        }
        
        // loop the filterValues array. For each value in the filterValues array, loop the typeBoxes and compare the innerText of its boxFilterValues to the filterValues value. If any of the boxFilterValues innerText matches a value in the filterValues array, turn that typeBox on.
        for (let i = 0; i < filterValues.length; i++) {
            for (let i2 = 0; i2 < typeBoxes.length; i2++) {
                var boxFilterValues = typeBoxes[i2].querySelector('.inner-search-type-box-for-filters').innerText;
                if (boxFilterValues.includes(filterValues[i])) {
                    typeBoxes[i2].style.cssText = "display: block"
                }
                // loop the typeBoxes to check if any are displayed. If some are, remove the no match filter message
                for (let i3 = 0; i3 < typeBoxes.length; i3++) {
                    if (typeBoxes[i3].style.display == "block") {
                        noMatchFilterCheck = false;
                    }
                }
            }
        }

        // if the loop above detects that all boxes are hidden, display the no match message
        if (noMatchFilterCheck == true) {
            noMatchFilterMessage.classList.remove('hidden');
        } else {
            noMatchFilterMessage.classList.add('hidden');
        }

        // turn off the no match filter if all filter checkboxes are empty
        if (filterValues.length === 0 && noMatchFilterCheck == true) {
            noMatchFilterMessage.classList.add('hidden');
        }

    });
{% endfor %}
</script>